.footer {
  background-color: #2f303a;
  padding: 60px 0;
  
}
.footer-section {
   @media screen and (min-width: 1200px) {
    display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 94px;
  }
  
  text-align: center;
}

.footer-tablet {
  padding-bottom: 0;
 @media screen and (min-width: 768px)  {
    display: flex;
  align-items: baseline;
  justify-content: space-between;
  // gap: 165px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px)  {
  //   display: flex;
  // align-items: baseline;
  // justify-content: space-between;
  gap: 94px;
  
}
}
.address {
  font-style: normal;
  // margin-top: 20px;
margin-bottom: 60px;
margin-top: 28px;
@media screen and (min-width: 1200px)  {
  margin-bottom: 0;
  
}
  & li + li {
    margin-top: 9px;
  }
}

/* Логотип футера*/

.logo {
  @extend %logo;
  display: inline-block;

  .logo-studio {
    @extend %logo;
    color: var(--text-color-button-hover);
  }
  // padding-bottom: 28px;
}

/* Контакти */

.contact-phone-number-footer,
.email-footer {
  line-height: 1.71;
  color: var(--color-futer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-phone-number-footer:hover,
.email-footer:hover,
.contact-phone-number-footer:focus,
.email-footer:focus {
  color: var(--logo-button-contact-color);
}

.map {
  line-height: 1.71;
  color: var(--text-color-button-hover);
}

/* Соцмережі футера */

.footer h3 {
  font-weight: 700;
  line-height: 16px;
  color: var(--text-color-button-hover);
  text-transform: uppercase;
  // margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
  
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.subscription {
   @media screen and (max-width: 1199px) {
    margin-right: 15px;
  margin-left: 15px;
  display: block;
  }
  
  
}
.footer-soc-icon {
  fill: #ffffff;
}

/* footer Приєднуйтесь */

.subscription-form {
  margin-right: 15px;
  margin-left: 15px;
   @media screen and (min-width: 768px) {
    // text-align: center;
    // margin-left: auto;
    // margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }
}

.subscription-input {
 display: block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: transparent;
  color: var(--text-color-button-hover);
  background-color: #2f303a;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-bottom: 20px;


  &:focus {
    border-color: var(--logo-button-contact-color);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
  }
   @media screen and (min-width: 768px) {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscription-submit {
  @extend %button;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-left: auto;
margin-right: auto;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  padding: 10px 28px;
   @media screen and (min-width: 1200px) {
    margin-left: 12px;
    height: 50px;
  }
  
}

.subscription-icon {
  margin-left: 10px;
}
